<div class="col-md-12 mt-3" *ngIf="identity">
  <h1>{{page_title}}</h1>
  <hr>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <article class="card" *ngFor="let video of videos">
      <div class="card-header">
        <h3>
          {{video.title}}
        </h3>
      </div>
      <div class="card-body">
        <div class="video-image w-100" *ngIf="video.url">
          <img src="{{getThumb(video.url)}}" alt="{{video.title}}" class="w-100">
        </div>
        <div class="video-buttons mt-3">
          <a class="btn btn-success mx-0" [routerLink]="['/video/',video.id]">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
            </svg>

            Explore</a>
          <a class="btn btn-warning mx-2" [routerLink]="['/edit-favorite/',video.id]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
            </svg>
            Update</a>
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#borrar'+video.id">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
            </svg>
            Delete
          </button>

          <!-- The Modal -->
          <div class="modal" id="{{'borrar'+video.id}}">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h6 class="modal-title">Are you sure yo want to delete this?</h6>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  If you delete <b>{{video.title}}</b> video it cant be undone.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <a (click)="deleteVideo(video.id)" class="btn btn-danger" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                    </svg>
                    Delete</a>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
                      <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                      <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                    </svg>
                    Cancel
                  </button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<nav *ngIf="identity && videos?.length >=1" class="mt-4">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" [routerLink]="['/home/',prev_page]">Previous</a></li>
    <li class="page-item" *ngFor="let number_page of number_pages ">
      <a class="page-link" [routerLink]="['/home/',number_page]">{{number_page}}</a>
    </li>
    <li class="page-item"><a class="page-link" [routerLink]="['/home/',next_page]">Next</a></li>
  </ul>
</nav>

<div *ngIf="identity && videos?.length == 0" class="mt-4">
     <h1  class="alert alert-info" role="alert">Hi {{identity.name}} {{identity.surname}} welcome. </h1>
      <h6><a [routerLink]="['/add-favorite']">Add your favorites youtube videos</a></h6>
</div>

<div class="col-md-12 mt-3" *ngIf="!identity">
  <div class="jumbotron">
    <h1 class="display-4">Explore the videos you’ve loved the most.</h1>
    <p class="lead">Watch your favorite videos anytime from this collection..</p>
    <hr class="my-4"> 
    <p>These are the videos you’ve saved as your top picks</p>
    <a class="btn btn-primary btn-lg mx-4" [routerLink]="['/signin']" role="button">Sign In</a>
    <a class="btn btn-success btn-lg" [routerLink]="['/signup']" role="button">Sign Up</a>
  </div>
</div>
