<div class="col-md-12 mt-3">
  <h1>{{page_title}}</h1>
  <hr>

  <div class="alert alert-success col-md-5 mt-3" *ngIf="status=='success'">
    You have successfully logged in
  </div>

  <div class="danger alert-danger col-md-5 mt-3" *ngIf="status=='error'">
    You have not logged in correctly
  </div>

  <form class="col-md-5 ml-0 pl-0" #loginForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email">Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required
          pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}">
        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
          The email does not have a valid format.
        </small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
        required>
      <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
        You must enter a password.
      </small>
    </div>

    <input type="submit" value="Sign In" class="btn btn-success mt-3" [disabled]="loginForm.invalid">
  </form>
</div>